h1 {
    text-align: center;
}

form{
    background-color: darkslateblue;
    padding: 1%;
    margin: 3%;
}

#info-festival{
    background-color: indianred;
    padding: 1%;
    margin: 5% 0;
}

#info-festival > header {
    display: flex;
}

#info-festival > header > h3:nth-child(even){
     text-align: right;
}

#info-festival > header > h3 {
     width:50%;
     text-align: left;
}

#info-festival > section {
    background-color: palevioletred;
    padding: 1%;
    margin: 0 2%;
}

#profil {
    background-color: LightBlue;
    padding: 1%;
    margin: 2% 0;
}

#creneau {
    background-color: cadetblue;
    padding: 1%;
}

#creneau fieldset{
    display: flex;
    flex-direction: column;
    background-color: steelblue;
    border: none;
    padding: 1%;
}

#creneau section{
    display: flex;
    justify-content: space-evenly;
}

#poste {
    display: flex;
    justify-content: space-between;
    background-color: MediumAquamarine;
    margin: 3% 0;
    padding: 1%;
    align-items: stretch;
}

#candidature aside{
    padding: 1%;
    width: 45%;
    background-color: MediumSlateBlue;
    min-height: 200px;
}

#candidature section input {
    margin: 0;
}

#desc {
    resize: none;
    width: 90%;
    max-height: 400px;
    min-height: 50%;
}

.poste {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 3%;
    padding: 1%;
    background-color: HoneyDew;
}

.poste legend {
    display: none;
    position: absolute;
    top:100%;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: mediumvioletred;
    padding: 1%;
}

.poste:hover legend{
    display: block;
}

#submit {
    display: block;
    margin: 5% auto;
    background-color: gold;
    border: none;
    padding: 1%;
    cursor: pointer;
}