h1 {
    text-align: center;
}

form{
    background-color: darkslateblue;
    padding: 1%;
    margin: 3%;
}

#info-festival{
    background-color: indianred;
    padding: 0 3%;
    margin: 5% 0;
}

#info-festival > header {
    display: flex;
}

#info-festival > header > h3:nth-child(even){
     text-align: right;
}

#info-festival > header > h3 {
     width:50%;
     text-align: left;
}

#info-festival > section {
    background-color: cornflowerblue;
    padding: 1%;
    margin: 0 2%;
}

#candidature {
    display: flex;
    justify-content: space-between;
}

#candidature aside{
    padding: 1%;
    width: 45%;
    background-color: darkviolet;
}

#candidature section{
    display: flex;
    justify-content: space-between;
    margin: 3%;
    padding: 1%;
    background-color: violet;
}

#candidature section > input {
    margin: 0;
}

.poste {
    position: relative;
}

.poste legend {
    display: none;
    position: absolute;
    top:100%;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: mediumvioletred;
    padding: 1%;
}

#desc {
    resize: vertical;
    width: 90%;
    max-height: 400px;
    min-height: 50%;
}

.poste:hover legend{
    display: block;
}

#submit {
    display: block;
    margin: 5% auto;
    background-color: gold;
    border: none;
    padding: 1%;
}