h1 {
    text-align: center;
}

.festival{
    background-color: indianred;
    padding: 1%;
    margin: 2% 10%;
}

.festival > header{
    display: flex;
    justify-content: space-between;
}

fieldset{
    height: fit-content;
}

.title{
    font-weight: bold;
}

.postes {
    display: flex;
    justify-content: space-between;
}

.postes > div {
    width: 10%;
    background-color: palevioletred;
    padding: 1%;
}

p{
    display: flex;
    align-items: center;
}

#button{
    margin-left: auto;
}
